# TrashPandas: Format Conversion

Convert DataFrames between different storage formats.

## Imports

In [1]:
import pandas as pd
import trashpandas as tp

## Converting Between Formats

In [2]:
# Create sample data
df = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})

# Store in CSV first
with tp.CsvStorage('./data_conversion') as csv_storage:
    csv_storage['users'] = df
    
    # Convert CSV to SQL
    tp.csv_to_sql('users', './data_conversion', 'sqlite:///./converted.db')
    print("Converted from CSV to SQL")
    
    # Load from SQL to verify
    with tp.SqlStorage('sqlite:///./converted.db') as sql_storage:
        loaded = sql_storage['users']
        print("\nLoaded from converted SQL database:")
        print(loaded)

Converted from CSV to SQL

Loaded from converted SQL database:
   id     name  age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35

## Batch Conversion

In [3]:
# Create multiple DataFrames
users = pd.DataFrame({'id': [1, 2], 'name': ['Alice', 'Bob']})
products = pd.DataFrame({'id': [1, 2], 'name': ['Widget', 'Gadget']})

with tp.CsvStorage('./data_batch') as csv_storage:
    csv_storage['users'] = users
    csv_storage['products'] = products
    
    # Convert all tables from CSV to SQL
    tp.csv_to_sql_all('./data_batch', 'sqlite:///./batch_converted.db')
    print("Batch conversion complete")
    
    # Verify
    with tp.SqlStorage('sqlite:///./batch_converted.db') as sql_storage:
        print(f"Converted {len(sql_storage)} tables")

Batch conversion complete
Converted 2 tables