# TrashPandas: Query Capabilities

Advanced querying features for SQL storage.

## Imports

In [1]:
import pandas as pd

import trashpandas as tp

## Basic Queries

In [2]:
# Create comprehensive sample data
users = pd.DataFrame({
    "id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
    "age": [25, 30, 35, 28, 32],
    "city": ["NYC", "SF", "NYC", "LA", "NYC"],
    "active": [True, True, False, True, True],
})

with tp.SqlStorage("sqlite:///./query_demo.db") as storage:
    storage["users"] = users

    # Get all data
    all_users = storage.query("users")
    print(f"All users: {len(all_users)} rows")
    print(all_users)

All users: 5 rows
   id     name  age city  active
0   1    Alice   25  NYC    True
1   2      Bob   30   SF    True
2   3  Charlie   35  NYC   False
3   4    Diana   28   LA    True
4   5      Eve   32  NYC    True

## Filtering with WHERE Clause

In [3]:
with tp.SqlStorage("sqlite:///./query_demo.db") as storage:
    # Filter by age
    young_users = storage.query("users", where_clause="age < 30")
    print("Users under 30:")
    print(young_users)

    # Filter by city
    nyc_users = storage.query("users", where_clause="city = 'NYC'")
    print("\nUsers in NYC:")
    print(nyc_users)

    # Filter by boolean
    active_users = storage.query("users", where_clause="active = 1")
    print("\nActive users:")
    print(active_users)

Users under 30:
   id   name  age city  active
0   1  Alice   25  NYC    True
3   4  Diana   28   LA    True

Users in NYC:
   id     name  age city  active
0   1    Alice   25  NYC    True
2   3  Charlie   35  NYC   False
4   5      Eve   32  NYC    True

Active users:
   id   name  age city  active
0   1  Alice   25  NYC    True
1   2    Bob   30   SF    True
3   4  Diana   28   LA    True
4   5    Eve   32  NYC    True

## Selecting Specific Columns

In [4]:
with tp.SqlStorage("sqlite:///./query_demo.db") as storage:
    # Get only name and email
    names = storage.query("users", columns=["name", "city"])
    print("Names and cities:")
    print(names)

Names and cities:
      name city
0    Alice  NYC
1      Bob   SF
2  Charlie  NYC
3    Diana   LA
4      Eve  NYC

## Limiting Results

In [5]:
with tp.SqlStorage("sqlite:///./query_demo.db") as storage:
    # Get first 3 users
    top_users = storage.query("users", limit=3)
    print("First 3 users:")
    print(top_users)

First 3 users:
   id     name  age city  active
0   1    Alice   25  NYC    True
1   2      Bob   30   SF    True
2   3  Charlie   35  NYC   False